# Django secret key (замени на свой реальный ключ)
SECRET_KEY=django-insecure-your-secret-key-here
# Debug mode (True для разработки, False для продакшена)
DEBUG=True
# Разрешённые хосты
ALLOWED_HOSTS=127.0.0.1,localhost

# Настройки подключения к PostgreSQL
NAME=mydatabase
USER=mydatabaseuser
PASSWORD=mypassword
HOST=localhost
PORT=5432
