{% extends 'catalog/base.html' %}
{% block title %}Новая запись{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>{% if form.instance.pk %}Редактировать запись{% else %}Создать запись{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}