{% extends 'catalog/base.html' %}
{% block title %}{{ post.title }} — Блог SkyStore{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>{{ post.title }}</h2>
    {% if post.preview %}
    <img src="{{ post.preview.url }}" alt="{{ post.title }}"
         class="img-thumbnail d-block mx-auto my-3"
         style="max-width: 400px; height: auto;">
    {% endif %}
    <p class="text-muted">Создано: {{ post.created_at|date:"d.m.Y H:i" }}</p>
    <p class="text-muted mt-3">Просмотров: {{ post.views_count }}</p>
    <div>{{ post.content|linebreaks }}</div>

    <a href="{% url 'blog:blog_list' %}" class="btn btn-outline-secondary mt-3">Назад</a>
    <a href="{% url 'blog:blog_edit' post.pk %}" class="btn btn-warning mt-3">Редактировать</a>
    <a href="{% url 'blog:blog_delete' post.pk %}" class="btn btn-danger mt-3">Удалить</a>
</div>
{% endblock %}
